.projects-section {
    width: 100%;
    font-family: 'TWK Lausanne', sans-serif;
    font-weight: 700;
    font-size: var(--font-size-medium);
    margin-bottom: 200px;
}

.projects-title {
    font-size: var(--font-size-xlarge);

    margin-bottom: 2rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    padding: 0 2rem;
}

.projects-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project-item {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
}

.project-item:hover {
    background-color: #000;
    color: #fff;
}

.project-item:hover .project-item-number,
.project-item:hover .project-item-title,
.project-item:hover .project-item-client,
.project-item:hover .project-item-date {
    color: #fff;
}

.project-item-content {
    display: grid;
    grid-template-columns: 50px 1.2fr 1fr auto;
    align-items: center;
    width: 100%;
    font-size: var(--font-size-medium);

}

.project-item-number {
    font-family: 'TWK Lausanne', sans-serif;
    color: #000;
    transition: color 0.3s ease;
}

.project-item-title {
    color: #000;
    transition: color 0.3s ease;
}

.project-item-client {
    color: #000;
    transition: color 0.3s ease;
}

.project-item-date {
    color: #000;

    font-family: 'TWK Lausanne', sans-serif;
    transition: color 0.3s ease;
}

.project-item-arrow {
    margin-left: 2rem;
    transition: transform 0.3s ease;
}

.project-item:hover .project-item-arrow {
    transform: translateX(10px);
}

@media (max-width: 768px) {
    .projects-section {}

    .projects-title {

        margin-bottom: 2rem;
    }

    .project-item-content {
        grid-template-columns: auto 1fr;
        grid-template-areas:
            "number title"
            "client date";
        gap: 0.5rem;
    }

    .project-item {
        padding: 1rem;
    }

    .project-item-number {
        grid-area: number;
    }

    .project-item-title {
        grid-area: title;

    }

    .project-item-client {
        grid-area: client;

    }

    .project-item-date {
        grid-area: date;
        justify-self: start;

    }

    .project-item-arrow {
        display: none;
    }
}