.banner-container {
    position: absolute;
    bottom: 20vh;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    z-index: 10;
}

.banner-left {
    width: 20%;
    display: flex;
    justify-content: center;
    background-color: blue;
}

.banner-center {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}


.banner-item:nth-child(2) {
    margin-left: 4.5vw;
    /* Ajustez la valeur de la marge selon vos besoins */
}

.banner-item {
    text-align: left;
    color: #000000;
}

.banner-item .banner-title {
    font-weight: bold;
    font-size: var(--font-size-Verysmall);
    margin-bottom: 4px;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 2px 4px;
}

.banner-subtitle {
    color: rgb(255, 255, 255);
    font-size: 15px;
    background-color: black;
    padding: 2px 4px;
}

.banner-right {
    width: 10%;
    display: flex;
    justify-content: center;
    padding-bottom: 29px;
}

.banner-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.banner-item:hover {
    background-color: rgba(0, 0, );
    /* Darken the bar on hover */
}

.banner-item:hover .banner-title,
.banner-item:hover .banner-subtitle {
    color: rgb(0, 0, 0);
    /* Ensure text remains white on hover */
}