.contact-section {
    margin: 0;
    padding: 2rem 0;
    text-align: center;
}

.contact-title {
    margin-top: 3rem;
    font-size: var(--font-size-xlarge);
    font-weight: 700;
    color: rgb(23, 25, 27);

}

.contact-description {
    font-size: var(--font-size-large);
    line-height: 1.3;
    color: rgb(23, 25, 27);
    margin-bottom: 2.5rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.contact-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

.contact-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: rgb(252, 249, 245);
    background-color: #8d8d8d;
    text-decoration: none;
    border-radius: 1ch;
    font-size: var(--font-size-medium);
    transition: color 0.2s ease;
}

.contact-link:hover {
    color: #000;
    text-decoration: underline;
}